@* login1 Template File *@
@()(implicit flash:play.api.mvc.Flash)




@main("Login") {

    <h2>Login Page</h2>

    <!-- These are the logins for Faculty-->
    <form method="get" action="/validateFaculty">
		<h3>Faculty Login</h3>
		<br>
		Username: <input type="text" name="username"></input>
		<br>
		Password: <input type="password" name="password"></input>
		<br>
		<input type="submit"></input>
	</form>
	<br>
    <form method="get" action="/createFacultyUser">
		<h3>Faculty Create User</h3>
		<br>
		Username: <input type="text" name="username"></input>
		<br>
		Password: <input type="password" name="password"></input>
		<br>
		<input type="submit"></input>
	</form>

}
