@* login1 Template File *@
@()(implicit flash:play.api.mvc.Flash)




@main("Login") {

	<body style="background-color:#DC3545;"></body>


	<style>
        h3{text-align: center;}
		h3{font-size: 40px;}
    </style>


    <!-- These are the logins for Faculty-->
    <form method="post" action="/validateFaculty">
		<h3 style="color:aliceblue;">Falculty Login</h3>
		<br>
		Username: <input type="text" name="username"></input>
		<br>
		Password: <input type="password" name="password"></input>
		<br>
		<input type="submit"></input>
	</form>
	<br>
    <form method="post" action="/createFacultyUser">
		<h3 style="color:aliceblue;">Faculty Create User</h3>
		<br>
		Faculty Name: <input type="text" name="name"></input>
		<br>
		Username: <input type="text" name="username"></input>
		<br>
		Password: <input type="password" name="password"></input>
		<br>
		<input type="submit"></input>
	</form>

}
