@(message: String)(implicit flash: Flash)

@main("CS Hub.js") {
	
	<!-- The links of each category -->
	<nav>
		<a href="/Login">Login</a> |
		<a href="/Student/">Student</a> | 
		<a href="/Faculty/">Faculty</a> |
		<a href="/Ratings/">Ratings</a>
	</nav>

	<!-- I made this script to make the transiton to each page
	     Function calls to the name given to the link and loc.replace
		 is to the website of the given page. -->
	<script> function Faculty() {
			location.replace("http://localhost:9000/Faculty/")
		}
	</script>
	<script> function Student() {
		location.replace("http://localhost:9000/Student/")
	}
</script>
	

	<br></br> 
	<h2>Welcome to the CS Hub!</h2> 
	<br></br> 
	<h3>Student, what would you like to do?</h3>
		<select name="Options" size="7">
			<option value="SPast"> View past courses </option>
			<option value="SCurrent"> View current courses </option>
			<option value="SFuture"> View future courses </option>
			<option value="SCompleted"> View completed reviews </option>
			<option value="SAccount"> Change account preferances </option>
			<option value="SStudent"> Contact a student </option>
			<option value="SProf"> Contact a professor </option>
		</select>
		<br></br> 
		<button type="button">Next</button>
	
		<br></br> 
		<br></br> 

	<h3>Professor, what would you like to do?</h3>
		<select name="Options" size="7">
			<option value="PPast"> View past courses </option>
			<option value="PCurrent"> View current courses </option>
			<option value="PFuture"> View future courses </option>
			<option value="PSummary"> View Summary Ratings </option>
			<option value="PAccount"> Change account preferances </option>
			<option value="PStudent"> Contact a student </option>
			<option value="PProf"> Contact a professor </option>
		</select>
		<br></br> 
		<button type="button">Next</button>	
	
}
