@(message: String)(implicit flash: Flash)

@main("CS Hub.js") {
	
	<!-- The links of each category -->
	<nav>
		<a href="/Login">Login</a> |
		<a href="/Student/">Student</a> | 
		<a href="/Faculty/">Faculty</a> |
		<a href="/Ratings/">Ratings</a>
	</nav>

	<!-- I made this script to make the transiton to each page
	     Function calls to the name given to the link and loc.replace
		 is to the website of the given page. -->
	<script> function Faculty() {
			location.replace("http://localhost:9000/Faculty/")
		}
	</script>
	<script> function Student() {
		location.replace("http://localhost:9000/Student/")
	}
</script>
	

	<br></br> 
	<h2>Welcome to the CS Hub!</h2> 
	<br></br> 
	
	

	
}
