@* login1 Template File *@
@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login") {
	<h2>Login</h2>
	
	<form method="get" action="/validateGet1">
		<h3>GET submission (not secure)</h3>
		<br>
		Username: <input type="text" name="username"></input>
		<br>
		Password: <input type="password" name="password"></input>
		<br>
		<input type="submit"></input>
	</form>
	
	<form method="post" action="@routes.TaskList1.validateLoginPost()">
		@helper.CSRF.formField
		<h3>Login with POST</h3>
		<br>
		Username: <input type="text" name="username" id="username-login"></input>
		<br>
		Password: <input type="password" name="password" id="password-login"></input>
		<br>
		<input type="submit"></input>
	</form>
	
	<form method="post" action="@routes.TaskList1.createUser()">
		@helper.CSRF.formField
		<h3>Create User</h3>
		<br>
		Username: <input type="text" name="username" id="username-create"></input>
		<br>
		Password: <input type="password" name="password" id="password-create"></input>
		<br>
		<input type="submit"></input>
	</form>

	@helper.form(action = routes.TaskList1.createUserForm()) {
		@helper.CSRF.formField
		<h3>Create User with Play Form</h3>
		@helper.inputText(loginForm("Username"))
		@helper.inputPassword(loginForm("Password"))
		<div class="form-actions">
			<button type="submit">Login</button>
		</div>
	}
	

}
