@* login1 Template File *@
@()(implicit flash:play.api.mvc.Flash)

@main("Login") {

    <h2>Student Login Page</h2>

    <!-- These are the logins for Faculty-->
    <form method="get" action="/validateStudent">
		<h3>Student Login</h3>
		<br>
		Username: <input type="text" name="username"></input>
		<br>
		Password: <input type="password" name="password"></input>
		<br>
		<input type="submit"></input>
	</form>
	<br>
    <form method="get" action="/createStudentUser">
		<h3>Student Create User</h3>
		<br>
		Username: <input type="text" name="username"></input>
		<br>
		Password: <input type="password" name="password"></input>
		<br>
		<input type="submit"></input>
	</form>

}