@* taskList1 Template File *@
@(tasks: Seq[String])(implicit request: RequestHeader, flash: Flash)

@main("Task List") {
	<h2>Task List</h2>
	
	<ul>
		@for((task, i) <- tasks.zipWithIndex) {
			<li>@task</li>
			<form method="post" action="@routes.TaskList1.deleteTask">
				@helper.CSRF.formField
				<input type="hidden" name="index" value="@i"/>
				<input type="submit" value="Delete" id="delete-@i"/>
			</form>
		}
	</ul>
	
	<form method="post" action="@routes.TaskList1.addTask()">
		@helper.CSRF.formField
		<input type="text" name="newTask"></input>
		<input type="submit"></input>
	</form>
	
	<div>
		<a href="@routes.TaskList1.logout()" id="logout">Logout</a>
	</div>
}
