@* tempWelcome Template File *@
@(monthYearForm: Form[edu.trinity.webapps.controllers.MonthYear])(implicit request: MessagesRequestHeader, flash:Flash)

@main("Historical Temps for SA") {
	<h2>Historical San Antonio Temps</h2>
	GET -
	<form action="temp" method="get">
		<input type="text" name="month"></input>/<input type="text" name="year"></input>
		<input type="submit"></input>
	</form>
	<br>
	POST -
	<form action="temp" method="post">
		<input type="text" name="month"></input>/<input type="text" name="year"></input>
		<input type="submit"></input>
	</form>
	<br>
	Play POST -
	@helper.form(action = edu.trinity.webapps.controllers.routes.TempController.postMonthForm()) {
		@helper.inputText(monthYearForm("month"))
		@helper.inputText(monthYearForm("year"))
		<div class="form-actions">
			<button type="submit">View Month</button>
		</div>
	}
}