@()(implicit request: RequestHeader, flash: Flash)

@main("Task List 5"){
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
	<input type="hidden" id="validateRoute" value="@routes.TaskList5.validateStudent()">
	<input type="hidden" id="validateRoute" value="@routes.TaskList5.validateFaculty()">
	<input type="hidden" id="createRoute" value="@routes.TaskList5.createStudentUser()">
	<input type="hidden" id="createRoute" value="@routes.TaskList5.createFacultyUser()">
  <input type="hidden" id="logoutRoute" value="@routes.TaskList5.logout()">
  
  <div id="react-root"></div>
  <script src="@routes.Assets.versioned("javascript/version5.js")"></script>
}