@* version2Main Template File *@
@(startRoute: String)(implicit request: RequestHeader, flash: Flash)

@main("Task List (Version 2)") {
	<div id="contents"></div>
	
	<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
	<input type="hidden" id="loginRoute" value="@startRoute">
	<input type="hidden" id="validateRoute" value="@routes.TaskList2.validate()">
	<input type="hidden" id="createRoute" value="@routes.TaskList2.createUser()">
	<input type="hidden" id="deleteRoute" value="@routes.TaskList2.delete()">
	<input type="hidden" id="addRoute" value="@routes.TaskList2.addTask()">
	
	<script src="@routes.Assets.versioned("javascript/version2.js")"></script>
	<!-- <script src="@routes.TaskList2.generatedJS()"></script> -->
}
