@()(implicit request: RequestHeader, flash: Flash)

@main("Task List 7"){
  <div id="react-root"></div>
  <input type="hidden" id="version7" value="">
  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
	<input type="hidden" id="validateRoute" value="@routes.TaskList5.validate()">
	<input type="hidden" id="tasksRoute" value="@routes.TaskList5.taskList()">
	<input type="hidden" id="createRoute" value="@routes.TaskList5.createUser()">
	<input type="hidden" id="deleteRoute" value="@routes.TaskList5.delete()">
	<input type="hidden" id="addRoute" value="@routes.TaskList5.addTask()">
  <input type="hidden" id="logoutRoute" value="@routes.TaskList5.logout()">
}