@* version3Main Template File *@
@()(implicit request: RequestHeader, flash: Flash)

@main("Task List (Version 3)") {
	<div id="contents">Version 3</div>

	<div id="login-section">
		<h2>Login:</h2>
		<br>
		Username: <input type="text" id="loginName">
		<br>
		Password: <input type="password" id="loginPass">
		<br>
		<button onclick="login()">Login</button><span id="login-message"></span>
		
		<h2>Create User:</h2>
		<br>
		Username: <input type="text" id="createName">
		<br>
		Password: <input type="password" id="createPass">
		<br>
		<button onclick="createUser()">Create User</button><span id="create-message"></span>
	</div>

	<div id="task-section" hidden>
		<h2>Task List</h2>
	
		<ul id="task-list">
		</ul>
		
		<input type="text" id="newTask"></input>
		<button onclick="addTask()">Add Task</button><span id="task-message"></span>
		
		<div>
			<button onclick="logout()">Logout</button>
		</div>
	</div>

	
	
	<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
	<input type="hidden" id="validateRoute" value="@routes.TaskList3.validate()">
	<input type="hidden" id="tasksRoute" value="@routes.TaskList3.taskList()">
	<input type="hidden" id="createRoute" value="@routes.TaskList3.createUser()">
	<input type="hidden" id="deleteRoute" value="@routes.TaskList3.delete()">
	<input type="hidden" id="addRoute" value="@routes.TaskList3.addTask()">
	<input type="hidden" id="logoutRoute" value="@routes.TaskList3.logout()">
	
	<script src="@routes.Assets.versioned("javascript/version3.js")"></script>
	<!-- <script src="@routes.TaskList2.generatedJS()"></script> -->
}
